$header_height: 40px;
$toolbar_height: 45px;
$formula_height: 35px;
$cell_width: 50px;
$row_height: 24px;
$column_width: 120px;
$dashboard_height: 64px;

// colors

$black: #000;
$border_color: #c0c0c0;
